<div class="banner-background">
  <div class="title-container">
    <h2 class="banner-title pre">The Title</h2>
    <h5 class="banner-subtitle pre">The subtitle</h5>
  </div>
  <div class="title-position pre">
    <div class="title-button">
      <button class="button button-info" name="create-post">Create a post today</button>
      <button class="button button-warning" name="sign-up">Sign up</button>
    </div>
  </div>
  <span class="banner-scrolldown pre glyphicon glyphicon-menu-down"></span>
</div>
