<div class="footer">
  <ul>
    <li><h4>Title 1</h4></li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <ul>
    <li><h4>Title 2</h4></li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <ul>
    <li><h4>Title 3</h4></li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <ul>
    <li><h4>Title 4</h4></li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>
  <div></div>
</div>
