<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/blog/main.css" />
  <link rel="stylesheet" href="/icon.css" />

</head>
<body>

  <% include partials/navbar %>

  <div id="main-section">
    <div class="container">
      <div class="blog">
        <div class="content">

          <h1 id="blog-title" class="page-header"></h1>

          <div class="meta">
            <!--
            <a>- Date: 12/31/2016</a>
            <a>| Author: TheLegend27</a>
            -->
          </div>

          <div class="main">
            <p>
              <!--
              <h1>Heading</h1>
              Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly.

              <br />
              <br />

              Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties. Who decisively attachment has dispatched. Fruit defer in party me built under first. Forbade him but savings sending ham general. So play do in near park that pain.
              -->

            </p>
          </div>

        </div>
      </div>

      <div id="comments">
        <div class="comment-section">
          <h1 class="comment-section-title">Comments</h1>

          <!-- Create a comment -->

          <form id="create-comment" method="post" action="/db/comment">
            <input type="text" name="title" placeholder="Title"/>
            <p>
              <textarea class="text-area" name="comment" placeholder="This is a comment"></textarea>
              <input name="blogID" value="<%= ID %>" style="visibility: hidden;"/>
            </p>
            <button class="btn btn-info">Post</button>
          </form>

          <div class="divider"></div>

          <!-- Comment Section -->

          <div id="com-section">

            <!-- example comment --> <!--
            <div class="comment">
              <h3>Heading - by TheLegend27: 12/26/2017</h3>
              <p>
                Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
              </P>
            </div>
            -->

          </div>
        </div>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br />

</body>
<footer>
  <% include partials/scripts %>

  <script src="/blog/blog.js"></script>

  <script type="text/javascript">

  var blog = $('.main p');
  var meta = $('.meta');
  var title = $('#blog-title');

  $.ajax({
    url: '/db/blog/<%= ID %>',
    type: 'GET',
    success: function(data) {
      // setting blog content
      console.log(data);
      title.append(data.title);
      blog.append(data.body);
      meta.append('<a>Date: ' + data.created + '</a>');
      meta.append('<a>| Author: ' + data.author + '</a>');

      //  seting comments
      var commentID = data.comments;

      for (var i = 0; i < commentID.length; i++) {
        setComment(commentID[i]);
      }
    }
  });

  function setComment(comment) {
    var commentSection = $('#com-section');

    console.log(comment);

    var link = "/db/comment/" + comment.id;

    $.ajax({
      url: link,
      type: 'GET',
      success: function(data) {
        if (data.id != "0") {

          var comment = '<div class="comment">' + '<h3>' + data.title + ' <a> - by ' + data.username + ': ' + data.date + '</a>' + '</h3>' + '<p>' + data.comment + '</p>' + '</div>';

          commentSection.append(comment);

        }
      }
    });
  }

  </script>

</footer>
</html>
