<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/index/index.css" />
  <link rel="stylesheet" href="/icon.css" />

</head>
<body>

  <div class="banner">

    <% include ./partials/banner %>

    <% include ./partials/navbar %>

  </div>

  <div id="main-section"></div>

  <div class="container">
    <div class="intro">
      <h2 class="page-header">Introductions</h2>
      <p>
        Shot what able cold new the see hold. Friendly as an betrayed formerly he. Morning because as to society behaved moments. Put ladies design mrs sister was. Play on hill felt john no gate. Am passed figure to marked in. Prosperous middletons is ye inhabiting as assistance me especially. For looking two cousins regular amongst.
    Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose.
    Literature admiration frequently indulgence announcing are who you her. Was least quick after six. So it yourself repeated together cheerful. Neither it cordial so painful picture studied if. Sex him position doubtful resolved boy expenses. Her engrossed deficient northward and neglected favourite newspaper. But use peculiar produced concerns ten.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="quotes">
      <h1>"Insert Inspriational Quotes"</h1>
    </div>
  </div>

    <div class="best container">

        <div class="col">
          <img src="res/security-icon.png" class="img-responsive" />
        </div>

        <div class="col">

        </div>

        <div class="col">

        </div>

      </div>

    </div>

    <div class="contact">

    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</body>
<footer>

  <% include partials/scripts %>

  <script src="index/index.js"></script>
</footer>
</html>
