<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Register</title>

    <link rel="stylesheet" href="/register/reg.css"></link>

  </head>
  <body>

    <div class="con">
      <div class="login">
        <% if (msg != null) { %>
            <% for (var i = 0; i < msg.length; i++) { %>
              <div class="alert alert-info" role="alert">
                <%= msg[i].msg %>
              </div>
            <% } %>
        <% } %>
        <h1>Register</h1>
        <form method="post" action="/register">
           <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username">
          </div>
           <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm password" name="password2">
          </div>
          <div class="button-group">
            <button type="submit" class="btn btn-default">Submit</button>
            <button class="btn btn-info" id="login" style="margin-right: 10px;">Login</button>
          </div>
        </form>
        </div>
      </div>
  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $('#login').click(function(event) {
        event.preventDefault();
        window.location.replace("/login");
      });
    </script>
  </footer>
</html>
