
body {
    background: url('/res/loginBackground.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.con {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-aspect-ratio: 1/1) {
  @media screen and (max-width: 750px) {
    .con {
      height: calc(130vh + 20vw);
    }
  }
}

h1 {
  margin-top: 0;
  color: #fff;
}

.login {
  width: 65%;

  position: relative;

  left: 17.5%;
  top: 10%;

}

.form-control {
  border-radius: 0px !important;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.form-control:hover, .form-control:active {
  border-bottom: 1px solid #eee;
}

.form-control::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

.form-control:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.form-group label {
  margin-left: 5px;
  color: #ffffff;

  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}

form a {
  color: #eee;
}

form a:hover, form a:visited {
  color: #fff;
}


.button-group {
  display: flex;

}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 1;

  border-radius: 0px;

}








/**/
