.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#tab {
  background-color: #fff;
  height: 100%;
  min-width: 200px;
  grow: 1;
  width: 25%;
}

#panel {
  background-color: blue;
  height: 500px;
  min-width: 500px;
  grow: 1;
  width: 75%;
}

.profile-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-image.img-responsive {
  padding: 10px;
  margin-bottom: -30px;
  max-width: 240px;
  max-height: 240px;
}

.profile-image.img-responsive img {
  width: 200px;
  height: 200px;
  padding-left: 20px;
}

div.profile-image {
  width: 300px;
  height: 300px;
}

ul.nav-stacked {
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  section {
    width: 100% !important;
  }
}
